<div ng-cloak class="align-content-center px-3 py-3">
    <div>
        <nav class="navbar navbar-light bg-light justify-content-between">
          <a class="navbar-brand">Home</a>
            <div>
            <a class="btn btn-dark text-white" role="button" ng-click= "showCreate=true">
                <span class="oi oi-plus" title="plus" aria-hidden="true"> </span> Create a Group Chat</a>
            <a class="btn btn-dark text-white" role="button" ng-click= "goToAvailableGroupChats();">
                <span class="oi oi-chat" title="chat" aria-hidden="true"> </span> Join a Group Chat </a>
            </div>
        </nav>
        <nav class="navbar navbar-light bg-light justify-content-between" ng-show="showCreate">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <div class="form-group">
                  <h5 class="font-weight-bold center-block" for="name">Create a Group Chat &nbsp</h5>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="Group Chat Name" ng-model="homeCtrl.newGroupName">
                  <button type="submit" class="btn btn-dark mb-2" ng-click="createGroupChat(uid);">Create</button>
                </div>
            </form>
        </nav>
    </div>

    <div class="page-header">
        <h1 class="font-weight-bold text-center mt-3 mb-3">{{ user.first_name }} {{ user.last_name }}'s Group Chats</h1>
    </div>
    <div>
        <div class="list-group" ng-repeat="g in homeCtrl.groupChatList">
          <a class="list-group-item list-group-item-action flex-column align-items-start" ng-click="goToChat(g.gid, g.gname);">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="font-weight-bold mb-1">Group Chat: {{ g.gname }}</h5>
              <small>Group ID: {{ g.gid }}</small>
            </div>
            <p class="mb-1">Owner ID: {{ g.uid }}</p>
          </a>
        </div>
    </div>
</div>