<div ng-cloak class="align-content-center px-3 py-3"></div>

        <div ng-repeat="g in homeCtrl.groupChatList">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card bg-light my-3 rounded">
                        <div class="card-body" >
                            <div class="card-title"> Owner ID:
                            {{g.uid}}
                            </div>
                            <div class="card-subtitle"> Group Chat Name: 
                            {{g.gname}}
                            </div>
                            <a class="btn btn-dark text-white" role="button" ng-click= "goToChat(g.gid);"> View This Chat
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>